*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
    display: block;
}
li{
    list-style: none;
}
.fas span{
    position: absolute;
    left: -9999px;
}




header {
    height: 80px;
    line-height: 80px;
    background-color: salmon;
    position: relative;
}
header div{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    float: left;
}
header nav{
    float: right;
}
header nav ul li{
    display: inline-block;
    width: 150px;
}


/* main_visual 메인비쥬얼 */
.main_visual{
    height: 800px;
    background: url('../img/flower.JPG') center center / cover
    no-repeat;
    position: relative;
}
.main_visual div{
    text-align: center;
    max-width: 1280px;/* 우측에 공간이 남지 않도록 함 */
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 


/* cont01 */
.cont01{
    max-width: 1280px;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}
.cont01 h3{
    font-size: 35px;
    margin-bottom: 40px;
}
.cont01::after{
    clear: both;
    content: '';
    display: block;
}
.cont01 div{
    float: left;
    width: 23.5%;
    margin-right: 2%;
}
.cont01 div:last-of-type{
    margin-right: 0;
}
.cont01 div img{
    width: 100%;
}


.fas{
    display: none;
}
@media screen and (max-width: 1024px) /* 1024px 이하일 때 */{
    header nav{
        display: none;
    }
    .fas{
        display: block;
        float: right;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
    }
    .main_visual {
        height: 500px;
    }
}

@media screen and (max-width:767px) /* 767px 이하일 때 */{
    .cont01 div{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 40px;
    }
    .cont01 div:nth-of-type(2){
        margin-right: 0;
    }
}